<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="ConnectionSettings" type="Nistec.Data.Ado.ConnectionSettings, Nistec.Cache, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
  </configSections>

<ConnectionSettings>

  <connectionStrings>
    <add name="AdventureWorks" connectionString="Data Source=NISTEC-PC;Initial Catalog=AdventureWorks;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="EnterpriseDB" connectionString="Data Source=NISTEC-PC;Initial Catalog=EnterpriseDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</ConnectionSettings>

</configuration>