<?xml version="1.0"?>
<configuration>
  <configSections>
     <section name="Netlog" type="Nistec.Logging.NetlogConfig, Nistec.Logger, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
     <section name="MCache" type="Nistec.Caching.Config.CacheConfigServer, Nistec.Cache, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
     <section name="RemoteCache" type="Nistec.Caching.Config.CacheConfigClient, Nistec.Cache, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
  </configSections>

  <Netlog>
    <NetlogSettings>
      <add key="LogFilename" value="C:\Dev\Logs\Cache\Cache.log"/>
      <add key="LogLevel" value="Debug|Info|Warn|Error|Trace"/>
      <add key="LogMode" value="File|Console"/>
    </NetlogSettings>
  </Netlog>

  <RemoteCache>

    <CacheApiSettings>
      <add key="RemoteBundleHostName" value = "nistec_cache_bundle"/>
      <add key="RemoteCacheHostName" value = "nistec_cache"/>
      <add key="RemoteSyncCacheHostName" value = "nistec_cache_sync"/>
      <add key="RemoteSessionHostName" value = "nistec_cache_session"/>
      <add key="RemoteDataCacheHostName" value = "nistec_cache_data"/>

      <add key="RemoteCacheManagerHostName" value = "nistec_cache_manager"/>

      <add key="IsRemoteAsync" value = "false"/>
      <add key="EnableRemoteException" value = "false"/>

    </CacheApiSettings>
  </RemoteCache>
    
    <MCache>

    <CacheApiSettings>
     
      <add key="RemoteBundleHostName" value = "nistec_cache_bundle"/>
      <add key="RemoteCacheHostName" value = "nistec_cache_bundle"/>
      <add key="RemoteSyncCacheHostName" value = "nistec_cache_bundle"/>
      <add key="RemoteSessionHostName" value = "nistec_cache_bundle"/>
      <add key="RemoteDataCacheHostName" value = "nistec_cache_bundle"/>
      <add key="RemoteCacheManagerHostName" value = "nistec_cache_manager"/>
           
      <add key="IsRemoteAsync" value = "false"/>
      <add key="EnableRemoteException" value = "false"/>
     
   </CacheApiSettings>
    
    <CacheSettings>
      <!-- Performance -->
      <add key="EnableAsyncTask" value="true"/>
      <add key="EnableSizeHandler" value="false"/>
      <add key="EnablePerformanceCounter" value="false"/>
      <add key="MaxSize" value="2000000"/>
      <add key="DefaultExpiration" value="30"/>
      <add key="EnableLog" value="true"/>
      <add key="EnableSyncTypeEventTrigger" value="false"/>
      <add key="AutoResetIntervalHours" value="12"/>

      

      <!-- Session -->
      <add key="SessionTimeout" value="0"/>
      <add key="MaxSessionTimeout" value="1440"/>

      <!-- sync Interval in seconds-->
      <add key="SyncInterval" value="60"/>
      <add key="SyncBoxInterval" value="60"/>
      <add key="SyncConfigFile" value = "C:\Dev\Nistec\Git_4.0.2.0\MCache\References\Config\mcSyncCache.xsync"/>
      <add key="EnableSyncFileWatcher" value = "true"/>
      <add key="ReloadSyncOnChange" value = "true"/>
      <add key="SyncTaskerTimeout" value="60"/>
      <add key="RemoveExpiredItemOnSync" value="true"/>
      <add key="DbConfigFile" value = ""/>

      <!-- Protocol NA|Tcp|Pipe|Http-->
      <add key="RemoteCacheProtocol" value = "NA"/>
      <add key="SyncCacheProtocol" value = "Pipe"/>
      <add key="SessionCacheProtocol" value = "NA"/>
      <add key="DataCacheProtocol" value = "NA"/>
      <add key="CacheManagerProtocol" value = "Pipe"/>
      <!--Bundle-->
      <add key="EnableTcpBundle" value = "true"/>
      <add key="EnablePipeBundle" value = "true"/>
      <add key="EnableHttpBundle" value = "false"/>
      
    </CacheSettings>

    <TcpServerSettings>

        <host HostName="nistec_cache_bundle"
           Address="localhost"
           Port="13000"
           IsAsync="false"
           SendTimeout="500000"
           ProcessTimeout="0"
           ReadTimeout="100000"
           ReceiveBufferSize="4096"
           SendBufferSize="4096"
           MaxSocketError="50"
           MaxServerConnections="4"/>

        <host HostName="nistec_cache"
           Address="localhost"
           Port="13001"
           IsAsync="false"
           SendTimeout="5000"
           ProcessTimeout="0"
           ReadTimeout="10000"
           ReceiveBufferSize="4096"
           SendBufferSize="4096"
           MaxSocketError="50"
           MaxServerConnections="1"/>

        <host HostName="nistec_cache_data"
           Address="localhost"
           Port="13002"
           IsAsync="false"
           SendTimeout="5000"
           ProcessTimeout="0"
           ReadTimeout="1000"
           ReceiveBufferSize="4096"
           SendBufferSize="4096"
           MaxSocketError="50"
           MaxServerConnections="1"/>

        <host HostName="nistec_cache_session"
           Address="localhost"
           Port="13003"
           IsAsync="false"
           SendTimeout="5000"
           ProcessTimeout="0"
           ReadTimeout="1000"
           ReceiveBufferSize="4096"
           SendBufferSize="4096"
           MaxSocketError="50"
          MaxServerConnections="1"/>

        <host HostName="nistec_cache_sync"
           Address="localhost"
           Port="13004"
           IsAsync="false"
           SendTimeout="5000"
           ProcessTimeout="0"
           ReadTimeout="1000"
           ReceiveBufferSize="4096"
           SendBufferSize="4096"
           MaxSocketError="50"
          MaxServerConnections="1"/>

        <host HostName="nistec_cache_manager"
           Address="localhost"
           Port="13005"
           IsAsync="true"
           SendTimeout="5000"
           ProcessTimeout="0"
           ReadTimeout="1000"
           ReceiveBufferSize="4096"
           SendBufferSize="4096"
           MaxSocketError="50"
          MaxServerConnections="1"/>
      </TcpServerSettings>

    <PipeServerSettings>


      <host HostName="nistec_cache_bundle"
         PipeName="nistec_cache_bundle"
         PipeDirection="InOut"
         PipeOptions="None"
         VerifyPipe="nistec_cache"
         ConnectTimeout="500000"
         InBufferSize="8192"
         OutBufferSize="8192"
         MaxServerConnections="4"
         MaxAllowedServerInstances="255"/>

      <host HostName="nistec_cache"
           PipeName="nistec_cache"
           PipeDirection="InOut"
           PipeOptions="None"
           VerifyPipe="nistec_cache"
           ConnectTimeout="5000"
           InBufferSize="8192"
           OutBufferSize="8192"
           MaxServerConnections="1"
           MaxAllowedServerInstances="255"/>

      <host HostName="nistec_cache_manager"
          PipeName="nistec_cache_manager"
          PipeDirection="InOut"
          PipeOptions="None"
          VerifyPipe="nistec_cache"
          ConnectTimeout="5000"
          InBufferSize="8192"
          OutBufferSize="8192"
          MaxServerConnections="1"
          MaxAllowedServerInstances="255"/>

      <host HostName="nistec_cache_data"
          PipeName="nistec_cache_data"
          PipeDirection="InOut"
          PipeOptions="None"
          VerifyPipe="nistec_cache"
          ConnectTimeout="5000"
          InBufferSize="8192"
          OutBufferSize="8192"
          MaxServerConnections="2"
          MaxAllowedServerInstances="255"/>

      <host HostName="nistec_cache_session"
          PipeName="nistec_cache_session"
          PipeDirection="InOut"
          PipeOptions="None"
          VerifyPipe="nistec_cache"
          ConnectTimeout="5000"
          InBufferSize="8192"
          OutBufferSize="8192"
          MaxServerConnections="2"
          MaxAllowedServerInstances="255"/>

      <host HostName="nistec_cache_sync"
         PipeName="nistec_cache_sync"
         PipeDirection="InOut"
         PipeOptions="None"
         VerifyPipe="nistec_cache"
         ConnectTimeout="5000"
         InBufferSize="8192"
         OutBufferSize="8192"
         MaxServerConnections="1"
         MaxAllowedServerInstances="255"/>

      </PipeServerSettings>

    <HttpServerSettings>

        <host HostName="nistec_cache_bundle"
           Address="http://localhost:13100/"
           Method="post"
           SendTimeout="5000"
           ProcessTimeout="0"
           ReadTimeout="10000"
           MaxErrors="50"
           MaxServerConnections="1"/>

        <host HostName="nistec_cache"
           Address="http://localhost:13101/"
           Method="post"
           SendTimeout="5000"
           ProcessTimeout="0"
           ReadTimeout="10000"
           MaxErrors="50"
           MaxServerConnections="2"/>

        <host HostName="nistec_cache_data"
           Address="http://localhost:13102/"
           Method="post"
           SendTimeout="5000"
           ProcessTimeout="0"
           ReadTimeout="1000"
           MaxErrors="50"
           MaxServerConnections="1"/>

        <host HostName="nistec_cache_session"
           Address="http://localhost:13103/"
           Method="post"
           SendTimeout="5000"
           ProcessTimeout="0"
           ReadTimeout="10000"
           MaxErrors="50"
          MaxServerConnections="1"/>

        <host HostName="nistec_cache_sync"
           Address="http://localhost:13104/"
           Method="post"
           SendTimeout="5000"
           ProcessTimeout="0"
           ReadTimeout="10000"
           MaxErrors="50"
          MaxServerConnections="1"/>

        <host HostName="nistec_cache_manager"
           Address="http://localhost:13105/"
           Method="post"
           SendTimeout="5000"
           ProcessTimeout="0"
           ReadTimeout="1000"
           MaxErrors="50"
          MaxServerConnections="1"/>
      </HttpServerSettings>


    </MCache>

<connectionStrings>
   <add name="AdventureWorks" connectionString="Data Source=NISTEC-PC;Initial Catalog=AdventureWorks;Integrated Security=True;" providerName="System.Data.SqlClient" />
   <add name="EnterpriseDB" connectionString="Data Source=NISTEC-PC;Initial Catalog=EnterpriseDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
</connectionStrings>

  <!--
  <connectionStrings>
    <add name="AdventureWorks" connectionString="Data Source=???; Initial Catalog=AdventureWorks; User ID=???; Password=???; Connection Timeout=30" providerName="SqlServer"/>
    <add name="EnterpriseDB" connectionString="Data Source=????; Initial Catalog=EnterpriseDB; User ID=???; Password=???; Connection Timeout=30" providerName="SqlServer"/>
  </connectionStrings>
 -->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
