<?xml version="1.0"?>
<configuration>
  <configSections>
     <section name="Netlog" type="Nistec.Logging.NetlogConfig, Nistec.Logger, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
     <section name="MCache" type="Nistec.Caching.Config.CacheConfigServer, Nistec.Cache, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
     <section name="RemoteCache" type="Nistec.Caching.Config.CacheConfigClient, Nistec.Cache, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
  </configSections>

  <Netlog>
    <NetlogSettings>
      <add key="LogFilename" value="C:\Dev\Logs\Cache\Cache.log"/>
      <add key="LogLevel" value="Debug|Info|Warn|Error|Trace"/>
      <add key="LogMode" value="File|Console"/>
    </NetlogSettings>
  </Netlog>

  <RemoteCache>

    <CacheApiSettings>
      <!--<add key="RemoteBundleHostName" value = "nistec_cache_bundle"/>
 
      <add key="RemoteCacheManagerHostName" value = "nistec_cache_manager"/>-->

      <add key="IsRemoteAsync" value = "false"/>
      <add key="EnableRemoteException" value = "false"/>

      <add key="ConnectTimeout" value = "5000"/>
      <add key="BufferSize" value = "4096"/>

      <!-- PipeOption= None|Asynchronous|WriteThrough -->
      <add key="PipeOption" value = "None"/>
      <add key="PipeName" value = "nistec_cache_bundle"/>
      <add key="TcpPort" value = "13000"/>
      <add key="HttpPort" value = "13100"/>
      <add key="HttpMethod" value = "post"/>
      
    </CacheApiSettings>

    <!--<ClientChanellsSettings>

      <host Protocol="Pipe"
      HostName="nistec_cache_bundle"
      ServerName="."
      Address="nistec_cache_bundle"
      Port="0"
      Method=""
      IsAsync="false"
      ConnectTimeout="5000"
      ReadTimeout="1000"
      ReceiveBufferSize="4096"
      SendBufferSize="4096"/>

      <host Protocol="Tcp"
      HostName="nistec_cache_bundle"
      ServerName=""
      Address="localhost"
      Port="13000"
      Method=""
      IsAsync="false"
      SendTimeout="5000"
      ReadTimeout="1000"
      ReceiveBufferSize="4096"
      SendBufferSize="4096"/>

      <host Protocol="Http"
      HostName="nistec_cache_bundle"
      ServerName=""
      Address="http://localhost/"
      Port="13100"
      Method="post"
      IsAsync="false"
      SendTimeout="5000"
      ReadTimeout="1000"
      ReceiveBufferSize="4096"
      SendBufferSize="4096"/>

    </ClientChanellsSettings>-->
    
    <TcpClientSettings>

      <host HostName="nistec_cache_bundle"
          Address="localhost"
          Port="13000"
          IsAsync="false"
          ConnectTimeout="5000"
          ReadTimeout="1000"
          ReceiveBufferSize="4096"
          SendBufferSize="4096"/>

      <host HostName="nistec_cache_manager"
         Address="localhost"
         Port="13005"
         IsAsync="false"
         ConnectTimeout="5000"
         ReadTimeout="1000"
         ReceiveBufferSize="4096"
         SendBufferSize="4096"/>


    </TcpClientSettings>

    <!--PipeDirection="In|Out|InOut"  PipeOptions="None|WriteThrough|Asynchronous"-->
    <PipeClientSettings>

      <host HostName="nistec_cache_bundle"
      ServerName="."
      PipeName="nistec_cache_bundle"
      PipeDirection="InOut"
      PipeOptions="None"
      VerifyPipe="nistec_cache_bundle"
      ConnectTimeout="5000"
      ProcessTimeout="5000"
      ReceiveBufferSize="8192"
      SendBufferSize="8192"/>

      <host HostName="nistec_cache_manager"
      ServerName="."
      PipeName="nistec_cache_manager"
      PipeDirection="InOut"
      PipeOptions="None"
      VerifyPipe="nistec_cache"
      ConnectTimeout="5000"
      ProcessTimeout="5000"
      ReceiveBufferSize="8192"
      SendBufferSize="8192"/>

    </PipeClientSettings>

    <HttpClientSettings>

      <host HostName="nistec_cache_bundle"
         Address="http://localhost/"
         Port="13100"
         Method="post"
         ConnectTimeout="5000"
         ProcessTimeout="5000"/>

    </HttpClientSettings>
    
  </RemoteCache>
    
   <MCache>

    <!--<CacheApiSettings>
     
      <add key="RemoteBundleHostName" value = "nistec_cache_bundle"/>
      <add key="RemoteCacheHostName" value = "nistec_cache_bundle"/>
      <add key="RemoteSyncCacheHostName" value = "nistec_cache_bundle"/>
      <add key="RemoteSessionHostName" value = "nistec_cache_bundle"/>
      <add key="RemoteDataCacheHostName" value = "nistec_cache_bundle"/>
      <add key="RemoteCacheManagerHostName" value = "nistec_cache_manager"/>
           
      <add key="IsRemoteAsync" value = "false"/>
      <add key="EnableRemoteException" value = "false"/>
     
   </CacheApiSettings>-->
    
    <CacheSettings>
      <!-- Performance -->
      <add key="EnableAsyncTask" value="true"/>
      <add key="EnableSizeHandler" value="false"/>
      <add key="EnablePerformanceCounter" value="true"/>
      <add key="EnableConnectionProvider" value="true"/>
      <!-- 100 GB -->
      <add key="MaxSize" value="107374182400"/>
      <add key="DefaultExpiration" value="5"/>
      <!-- Logger -->
      <add key="EnableLog" value="true"/>
      <add key="LogMonitorDebugEnabled" value="true"/>
      <add key="LogMonitorCapacityLines" value="1000"/>
      
      <add key="EnableSyncTypeEventTrigger" value="true"/>
      <add key="EnableSyncTypeEvent" value="true"/>
      <add key="EnableAsyncLoader" value="true"/>
      <add key="AutoResetIntervalHours" value="12"/>

      

      <!-- Session -->
      <add key="SessionTimeout" value="5"/>
      <add key="MaxSessionTimeout" value="1440"/>

      <!-- sync Interval in seconds-->
      <add key="SyncInterval" value="60"/>
      <add key="SyncBoxInterval" value="60"/>
      <add key="SyncConfigFile" value = "C:\Dev\Nistec\Git_4.0.2.0\MCache\References\Config\SyncCache.config"/>
      <add key="EnableSyncFileWatcher" value = "true"/>
      <add key="ReloadSyncOnChange" value = "true"/>
      <add key="SyncTaskerTimeout" value="60"/>
      <add key="RemoveExpiredItemOnSync" value="true"/>
      <add key="DbConfigFile" value = ""/>

      <!-- Protocol NA|Tcp|Pipe|Http-->
      <add key="RemoteCacheProtocol" value = "Pipe|Tcp|Http"/>
      <add key="SyncCacheProtocol" value = "Pipe|Tcp|Http"/>
      <add key="SessionCacheProtocol" value = "Pipe|Tcp|Http"/>
      <add key="DataCacheProtocol" value = "Pipe|Tcp|Http"/>
      <add key="CacheManagerProtocol" value = "Pipe"/>

      <!-- Formatter One of  NA|Binary|Json Binary is default-->
      <add key="TcpBundleFormatter" value = "Binary"/>
      <add key="PipeBundleFormatter" value = "Binary"/>
      <add key="HttpBundleFormatter" value = "Binary"/>
      
      
      <!-- Formatter Binary|Json Binary is default-->
      <!--<add key="RemoteCacheFormatter" value = "Binary"/>
      <add key="SyncCacheFormatter" value = "Binary|Json"/>
      <add key="SessionCacheFormatter" value = "Binary"/>
      <add key="DataCacheFormatter" value = "Binary"/>-->
      
      <!--Bundle-->
      <!--<add key="EnableTcpBundle" value = "true"/>
      <add key="EnablePipeBundle" value = "true"/>
      <add key="EnableHttpBundle" value = "false"/>-->
      <!--Json Bundle-->
      <!--<add key="EnableTcpJsonBundle" value = "false"/>
      <add key="EnablePipeJsonBundle" value = "false"/>
      <add key="EnableHttpJsonBundle" value = "false"/>-->

    </CacheSettings>

    <TcpServerSettings>

        <host HostName="nistec_cache_bundle"
           Address="localhost"
           Port="13000"
           IsAsync="false"
           ConnectTimeout="5000"
           ReadTimeout="5000"
           ReceiveBufferSize="4096"
           SendBufferSize="4096"
           MaxSocketError="50"
           MaxServerConnections="1"/>
 
        <host HostName="nistec_cache_manager"
           Address="localhost"
           Port="13005"
           IsAsync="false"
           ConnectTimeout="5000"
           ReadTimeout="5000"
           ReceiveBufferSize="4096"
           SendBufferSize="4096"
           MaxSocketError="50"
          MaxServerConnections="1"/>
      </TcpServerSettings>

    <PipeServerSettings>


      <host HostName="nistec_cache_bundle"
         ServerName="."
         PipeName="nistec_cache_bundle"
         IsAsync="true"
         PipeDirection="InOut"
         PipeOptions="None"
         VerifyPipe="nistec_cache"
         ConnectTimeout="500000"
         ProcessTimeout="5000"
         ReceiveBufferSize="8192"
         SendBufferSize="8192"
         MaxServerConnections="1"
         MaxAllowedServerInstances="255"/>
  
      <host HostName="nistec_cache_manager"
          ServerName="."
          PipeName="nistec_cache_manager"
          IsAsync="true"
          PipeDirection="InOut"
          PipeOptions="None"
          VerifyPipe="nistec_cache"
          ConnectTimeout="5000"
          ProcessTimeout="5000"
          ReceiveBufferSize="8192"
          SendBufferSize="8192"
          MaxServerConnections="1"
          MaxAllowedServerInstances="255"/>

      </PipeServerSettings>

    <HttpServerSettings>

        <host HostName="nistec_cache_bundle"
           Address="http://localhost/"
           Port="13010"
           Method="post"
           ConnectTimeout="5000"
           ReadTimeout="0"
           MaxErrors="50"
           MaxServerConnections="1"/>

      </HttpServerSettings>


    </MCache>

  <appSettings file="C:\Dev\Nistec\Git_4.0.2.0\MCache\References\Config\settings.config">

  </appSettings>
    <!--
<connectionStrings>
   <add name="AdventureWorks" connectionString="Data Source=NISTEC-PC;Initial Catalog=AdventureWorks;Integrated Security=True;" providerName="System.Data.SqlClient" />
   <add name="EnterpriseDB" connectionString="Data Source=NISTEC-PC;Initial Catalog=EnterpriseDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
</connectionStrings>
-->
  <!-- 
  <connectionStrings>
    <add name="AdventureWorks" connectionString="Data Source=???; Initial Catalog=AdventureWorks; User ID=???; Password=???; Connection Timeout=30" providerName="SqlServer"/>
    <add name="EnterpriseDB" connectionString="Data Source=????; Initial Catalog=EnterpriseDB; User ID=???; Password=???; Connection Timeout=30" providerName="SqlServer"/>
  </connectionStrings>
 -->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
