<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
     <section name="SyncConfig" type="Nistec.Caching.Sync.SyncConfig, Nistec.Cache, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
    <section name="ConnectionSettings" type="Nistec.Data.Ado.ConnectionSettings, Nistec.Cache, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
  </configSections>
  
<SyncConfig>

  <SyncCache>

    <SyncItem
	  EntityType="GenericEntity"
      ConnectionKey="AdventureWorks"
      EntityName="contactEntity"
      MappingName="Person.Contact"
      SourceName="Person.Contact"
      SourceType="Table"
      EntityKeys="ContactID"
      Columns="[NameStyle],[Title],[FirstName],[MiddleName],[LastName],[Suffix],[EmailAddress],[EmailPromotion],[Phone]"
      SyncType="Interval"
      SyncTime="00:10:00" />

  </SyncCache>

</SyncConfig>

  <ConnectionSettings>

    <connectionStrings>
      <add name="AdventureWorks" connectionString="Data Source=NISTEC-PC;Initial Catalog=AdventureWorks;Integrated Security=True;" providerName="System.Data.SqlClient" />
      <add name="EnterpriseDB" connectionString="Data Source=NISTEC-PC;Initial Catalog=EnterpriseDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>

  </ConnectionSettings>  

</configuration>  