  <appSettings>
    <add key="baseUrl" value="http://localhost"/>
    <add key="cnn_pro" value="Data Source=62.219.21.58; Initial Catalog=Netcell_Smb; uid=netcell;password=Net5678; Connection Timeout=30"/>
    <add key="cnn_proxy" value="Data Source=62.219.21.58; Initial Catalog=Netcell_Proxy; uid=netcell;password=Net5678; Connection Timeout=30"/>
    <add key="cnn_Netcell" value="Data Source=62.219.21.58; Initial Catalog=NetcellDB; uid=netcell;password=Net5678; Connection Timeout=30" />
    <add key="cnn_Ad" value="Data Source=62.219.21.58; Initial Catalog=NetcellAd; uid=netcell;password=Net5678; Connection Timeout=30" />
    <add key="cnn_Web" value="Data Source=62.219.21.58; Initial Catalog=Netcell_Web; uid=netcell;password=Net5678; Connection Timeout=30" />
  </appSettings>