<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
     <section name="SyncConfig" type="Nistec.Caching.Sync.SyncConfig, Nistec.Cache, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
    <section name="ConnectionSettings" type="Nistec.Data.Ado.ConnectionSettings, Nistec.Cache, Version=4.0.2.0, Culture=neutral, PublicKeyToken=734a739868a76423" requirePermission="false"/>
  </configSections>
  
<SyncCache>

	<SyncItem
	  EntityType="GenericEntity"
      ConnectionKey="Netcell_Docs"
      EntityName="accountEntity"
      MappingName="Accounts"
      SourceName="Accounts"
      SourceType="View"
      EntityKeys="AccountId"
	  Columns="[AccountId],[AccountName],[Email],[Mobile],[City],[OwnerId],[LastUpdate]"
      SyncType="Interval"
      SyncTime="00:51:30" />
	  
 
 <SyncItem
  	  EntityType="GenericEntity"
      ConnectionKey="Netcell_Docs"
      EntityName="accountEntityTable"
      MappingName="Accounts"
      SourceName="Accounts"
      SourceType="Table"
      EntityKeys="AccountId"
	  EnableNoLock="true"
      SyncType="Interval"
      SyncTime="00:52:00" />
  
 	
	<SyncItem
      EntityType="GenericEntity"
        ConnectionKey="Netcell_Docs"
        EntityName="Accounts_CategoryEntity"
        MappingName="Accounts_Category"
        SourceName="Accounts_Category"
        SourceType="Table"
        EntityKeys="AccountCategoryId"
        SyncType="Event"
        SyncTime="00:52:30" />
		
	<SyncItem
      EntityType="GenericEntity"
        ConnectionKey="Netcell_Docs"
        EntityName="Accounts_Type"
        MappingName="Accounts_Type"
        SourceName="Accounts_Type"
        SourceType="Table"
        EntityKeys="[AccTypeId],[AccTypeName],[AccTypeHe]"
        SyncType="Interval"
        SyncTime="00:24:30" />
<!--		
	<SyncItem
	  EntityType="GenericEntity"
      ConnectionKey="AdventureWorks"
      EntityName="contactEntity"
      MappingName="Person.vContactTop"
      SourceName="Person.Contact"
      SourceType="View"
      EntityKeys="ContactID"
	  Columns="[ContactID],[NameStyle],[Title],[FirstName],[MiddleName],[LastName],[Suffix],[EmailAddress],[EmailPromotion],[Phone]"
      SyncType="Interval"
      SyncTime="00:51:30" />
	  
 
 <SyncItem
  	  EntityType="GenericEntity"
      ConnectionKey="AdventureWorks"
      EntityName="contactEntityTable"
      MappingName="Person.Contact"
      SourceName="Person.Contact"
      SourceType="Table"
      EntityKeys="ContactID"
	  EnableNoLock="true"
      SyncType="Interval"
      SyncTime="00:52:00" />
  
 	
	<SyncItem
      EntityType="GenericEntity"
        ConnectionKey="AdventureWorks"
        EntityName="ContactTypeEntity"
        MappingName="Person.ContactType"
        SourceName="Person.ContactType"
        SourceType="Table"
        EntityKeys="ContactTypeID"
        SyncType="Event"
        SyncTime="00:52:30" />
		
	<SyncItem
      EntityType="GenericEntity"
        ConnectionKey="AdventureWorks"
        EntityName="EmployeeDepartmentHistory"
        MappingName="[HumanResources].[EmployeeDepartmentHistory]"
        SourceName="[HumanResources].[EmployeeDepartmentHistory]"
        SourceType="Table"
        EntityKeys="[EmployeeID],[DepartmentID],[ShiftID],[StartDate]"
        SyncType="Interval"
        SyncTime="00:24:30" />

    <SyncItem
      EntityType="GenericEntity"
        ConnectionKey="AdventureWorks"
        EntityName="ContactTypeEntity2"
        MappingName="Person.ContactType"
        SourceName="Person.ContactType"
        SourceType="Table"
        EntityKeys="ContactTypeID"
        SyncType="Event"
        SyncTime="00:01:30" />

    <SyncItem
      EntityType="GenericEntity"
        ConnectionKey="AdventureWorks"
        EntityName="ProductEntity"
        MappingName="Production.Product"
        SourceName="Production.Product"
        SourceType="Table"
        EntityKeys="ProductID"
        SyncType="Remove"
        SyncTime="00:02:00" />

    <SyncItem
      EntityType="GenericEntity"
        ConnectionKey="AdventureWorks"
        EntityName="ProductCategoryEntity"
        MappingName="Production.ProductCategory"
        SourceName="Production.ProductCategory"
        SourceType="Table"
        EntityKeys="ProductCategoryID"
        SyncType="Remove"
        SyncTime="00:02:30" />

    <SyncItem
      EntityType="GenericEntity"
        ConnectionKey="AdventureWorks"
        EntityName="CurrencyEntity"
        MappingName="Sales.Currency"
        SourceName="Sales.Currency"
        SourceType="Table"
        EntityKeys="CurrencyCode"
        SyncType="Remove"
        SyncTime="00:02:00" />

    <SyncItem
          EntityType="GenericEntity"
            ConnectionKey="EnterpriseDB"
            EntityName="DataTypesEntity"
            MappingName="DataTypes"
            SourceName="DataTypes"
            SourceType="Table"
            EntityKeys="DataType"
            SyncType="Remove"
            SyncTime="00:04:30" />
    <SyncItem
      EntityType="GenericEntity"
        ConnectionKey="EnterpriseDB"
        EntityName="GroupsEntity"
        MappingName="Groups"
        SourceName="Groups"
        SourceType="Table"
        EntityKeys="GroupID"
        SyncType="Remove"
        SyncTime="00:05:00" />
    
    <SyncItem
      EntityType="GenericEntity"
        ConnectionKey="EnterpriseDB"
        EntityName="ScriptTypesEntity"
        MappingName="ScriptTypes"
        SourceName="ScriptTypes"
        SourceType="Table"
        EntityKeys="ScriptType"
        SyncType="Remove"
        SyncTime="00:04:00" />
-->
</SyncCache>


 <ConnectionSettings>

    <connectionStrings>
   
	<add name="cnn_pro" connectionString="Data Source=212.199.65.22; Initial Catalog=NetcellSB; uid=netcell;password=Net$5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="cnn_proxy" connectionString="Data Source=212.199.65.22; Initial Catalog=Netcell_Proxy; uid=netcell;password=Net$5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="netcell_Logs" connectionString="Data Source=212.199.65.22; Initial Catalog=Netcell_Logs; uid=netcell;password=Net$5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="cnn_Trace" connectionString="Data Source=212.199.65.22; Initial Catalog=Nistec_Trace; uid=netcell;password=Net$5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="cnn_web" connectionString="Data Source=212.199.65.22; Initial Catalog=Netcell_Web; uid=netcell;password=Net$5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="netcell_services" connectionString="Data Source=212.199.65.22; Initial Catalog=Netcell_Services; uid=netcell;password=Net$5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="netcell_system" connectionString="Data Source=212.199.65.22; Initial Catalog=Netcell_Team; uid=netcell;password=Net$5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="Default" connectionString="Data Source=212.199.65.22; Initial Catalog=NetcellSB; uid=netcell;password=Net$5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
	<add name="Netcell_Team" connectionString="Data Source=212.199.65.22; Initial Catalog=Netcell_Team; uid=netcell;password=Net$5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="Netcell_Docs" connectionString="Data Source=212.199.65.22; Initial Catalog=Netcell_Docs; uid=netcell;password=Net$5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="Netcell_Stg" connectionString="Data Source=212.199.65.22; Initial Catalog=Netcell_Stg; uid=netcell;password=Net$5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
	<!--
      <add name="AdventureWorks" connectionString="Data Source=62.219.21.58; Initial Catalog=AdventureWorks; uid=netcell; Password=Net5678; Connection Timeout=30" providerName="System.Data.SqlClient" />
      <add name="EnterpriseDB" connectionString="Data Source=62.219.21.58; Initial Catalog=EnterpriseDB; uid=netcell; Password=Net5678; Connection Timeout=30;" providerName="System.Data.SqlClient" />
	-->
    </connectionStrings>

  </ConnectionSettings>  

</configuration>  

  